* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}
body {
    display: grid; 
    place-items: center;
    font-family: 'Montserrat', monospace; 
    background-color: #f4f4f4; 
    padding: 20px;
    * {
        min-width: 20rem
    }
}
h1 {
    margin-bottom: 20px; 
    color: #333;
}
p {
    margin-bottom: 20px;
    color: #666;
}
form {
    background-color: #fff; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    margin-bottom: 20px;
}
.form-button {
    margin-top: 10px; 
    padding: 10px 15px; 
    border: none; 
    background-color: #444; 
    color: white; 
    font-family: inherit;
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}
ul {
    display: grid;
    list-style-type: none; 
    /* whitehand: 360px */
    /* min-width: 20rem; */
}
li {
    background-color: #fff; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    max-width: 360px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    /* margin: 20px; */
    padding: 20px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

